.dashRec{
    position:relative;
    width:600px;
    min-height:100px;
    margin:auto;
    padding-top:25px;  
    top: 30px
}

.dashRec:before {
    content:'';
    position:absolute;
    width:450px;
    height:350px;
    margin:auto;
    z-index: -1;
    border: 5px solid lightgray;
    top:-10px;
    left:80px;
}